:root {
    --bs-body-bg: #f2f3f5;
    --bs-link-color: #0969da;

    --app-primary-inverse: #ffffff;
    --app-primary: #4cab86;
    --app-primary-hover: #48a17e;
    --app-light-inverse: #7e8299;
}

a {
    text-decoration: none;
}

/*定制Bootstrap*/
.btn-primary {
    color: var(--app-primary-inverse);
    border-color: var(--app-primary);
    background-color: var(--app-primary);
}

.btn.btn-primary:hover:not(.btn-active) {
    color: var(--app-primary-inverse);
    border-color: var(--app-primary-hover);
    background-color: var(--app-primary-hover)!important;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.app-nav-link {
    --bs-nav-link-padding-y: 7px;
    --bs-nav-link-padding-x: 7px;
}

.app-nav-link:hover {
    background-color: #f3f3f3;
}

.fs-note {
    font-size: 0.75rem;
}

.fs-desc {
    font-size: 0.875rem;
}

.link {
    text-decoration: none;
    color: #252933;
}

.flex-0 {
    flex: 0 !important;
}

.alert ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.asteriskField {
    display: none;
}

.border-white-fade {
    border-color: rgba(255,255,255,.15) !important;
}

.navbar-fixed-container {
    height: 56px;
}

.nav-shadow {
    box-shadow: 1px 7px 10px 0 rgba(82, 63, 105, 0.05);
}

@media (min-width: 768px) {
    .border-md-top-0 {
        border-top: 0 !important;
    }

    .rounded-md-2 {
        border-radius: var(--bs-border-radius)!important;
    }

    .rounded-md-3 {
        border-radius: 10px !important;
    }
}

.max-width {
    max-width: 820px;
    flex: 1 1 820px !important;
}

.flex-1 {
    flex: 1;
}

.max-width-1 {
    max-width: 820px;
    flex: 1 1 820px !important;
}

.max-width-2 {
     max-width: 1140px;
    flex: 1 1 1140px;
}