<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    {% block title %}
        <title>夕泥 - 七夕泥的博客</title>
    {% endblock %}

    <meta name="author" content="七夕泥"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="keywords" content="七夕泥,Unity,资源,编程,博客"/>
        <meta name="description" content="夕泥 - 七夕泥的博客，一个关于分享的地方"/>
    {% endblock %}

    <!-- TODO baidu and google's verification -->
    <meta name="baidu-site-verification" content="2HhDg1sekr"/>
    <meta name="google-site-verification" content="gpXH5Aw-1dy2I5NHeRnNFS_P-PSA_d5TOJHn5bBPvSI"/>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block css %}{% endblock %}

    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% include "header.html" %}
<div class="container mt-3">
    {% block content %}{% endblock %}
</div>
</body>
</html>