<footer class="max-width mx-auto mt-4 pt-4 border-top d-flex flex-column">
    <nav class="fs-note text-secondary d-flex justify-content-around">
        <a class="text-decoration-none" href="{% url 'index' %}">主页</a>
        <a class="text-decoration-none" href="{% url 'posts:index' %}">博客</a>
        <a class="text-decoration-none" href="{% url 'posts:search' %}">搜索</a>
        <a class="text-decoration-none" href="{% url 'django.contrib.sitemaps.views.sitemap' %}">站点地图</a>
        <a class="text-decoration-none" href="https://github.com/Qixinies/blog">开源地址</a>
        <a class="text-decoration-none" href="mailto:3185835784@qq.com" target="_blank">联系邮箱</a>
    </nav>
    <a class="text-center mt-3 mb-2 text-decoration-none text-secondary fs-note" target="_blank" href="https://beian.miit.gov.cn" rel="nofollow">苏ICP备2021028850号-2</a>
</footer>
