<header class="navbar-fixed-container">
    <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" style="border: none">
          <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand mb-0 mx-md-4 d-none d-md-flex" href="/">夕泥 Xinies</a>
        <div class="navbar-brand d-flex p-0 d-md-none flex-grow-1 justify-content-center">
            <a class="navbar-brand mb-0 mx-md-4" href="/">夕泥 Xinies</a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar">
            <nav class="navbar-nav me-auto">
                <a class="nav-link mx-2 border-top border-md-top-0 border-white-fade" href="/">首页</a>
                <a class="nav-link mx-2 border-top border-md-top-0 border-white-fade" href="{% url 'posts:index' %}">博客</a>
                <!-- Mobile Only -->
                <a class="nav-link d-md-none mx-2 border-top border-md-top-0 border-white-fade" href="{% url 'posts:search' %}">搜索</a>
                {% if request.user.is_authenticated %}
                    <a class="nav-link d-md-none mx-2 border-top border-md-top-0 border-white-fade" href="{% url 'users:detail' request.user.id %}">{{ request.user.username }}</a>
                {% else %}
                    <a class="nav-link d-md-none mx-2 border-top border-md-top-0 border-white-fade" href="{% url 'users:login' %}">登录</a>
                {% endif %}
            </nav>
            <!-- PC Only -->
            <div class="d-none d-md-flex navbar-nav">
                <form class="d-flex align-items-center mt-1 mx-md-2 mt-md-0" role="search" action="{% url 'posts:search' %}">
                    <label class="w-100">
                        <input name="query" class="form-control form-control-sm bg-dark text-light" type="search" placeholder="搜索">
                    </label>
                </form>
                {% if request.user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ms-2 me-md-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</a>
                    <nav class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{% url 'users:detail' request.user.id %}">我的主页</a>
                        <a class="dropdown-item" href="{% url 'posts:post' %}">发布博客</a>
                        <a class="dropdown-item" href="#">设置</a>
                        {% if request.user.is_staff %}
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">Django管理</a>
                        {% endif %}
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="{% url 'users:logout' %}">退出登录</a>
                    </nav>
                </div>
                {% else %}
                    <a class="nav-link ms-2 me-md-4" href="{% url 'users:login' %}">登录</a>
                {% endif %}
            </div>
        </div>
      </div>
    </nav>
</header>