{% extends 'base.html' %}
{% load static %}
{% block title %}<title>{{ post.title }} - 夕泥博客</title>{% endblock %}
{% block meta %}
    <meta name="keywords" content={{ post.keywords }}>
    <meta name="description" content={{ post.description }}>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/code.css' %}">
{% endblock %}
{% block container-style %}px-0{% endblock %}
{% load admin_list %}
{% block content %}
    <div class="d-flex">
        <div class="content card border-0 card-body mx-md-1 rounded-0 rounded-md-2">
            <div class="border-bottom py-2 fs-note">
                <h1 class="h2">{{ post.title }}</h1>
                <div class="text-secondary">
                    <span>发布于 {{ post.publish_date }}</span>
                    <span class="ms-3">阅读 {{ post.views }}</span>
                </div>
            </div>
            <div class="mt-4">
                {{ body|safe }}
            </div>
        </div>
        <div class="d-none d-md-block flex-grow-1 mx-1">
            <div class="card card-body border-0 ">
                <p>作者：{{ post.author.username }}</p>
                <p>阅读量：{{ post.views }}</p>
                <button class="btn btn-success">关注</button>
            </div>
        </div>
    </div>
{% endblock %}