{% extends 'base.html' %}
{% block title %}{{ query }} - 搜索 夕泥博客{% endblock %}
{% block keywords %}搜索,夕泥博客,博客,IT技术{% endblock %}
{% block description %}在夕泥博客中进行快速搜索{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="max-width">
            <div class="mb-3">
                <form role="search" action="{% url 'posts:search' %}">
                    <label class="w-100 d-flex">
                        <input class="form-control form-control-sm" name="query" value="{{ query }}" type="search" placeholder="在所有博客中搜索">
                        <input type="submit" class="btn btn-success ms-1 px-4" value="搜索">
                    </label>
                </form>
            </div>
            <div>
                {% for post in posts %}
                    {% include "posts/card.html" with post=post %}
                {% endfor %}
            </div>
        </div>
        <aside class="d-none d-md-block flex-grow-1 ms-3">
            {% include "posts/aside.html" %}
        </aside>
    </div>
{% endblock %}